.content {
	margin-right: auto;
	margin-left: auto;
	max-width: 60em;
	font-size: 14pt;
}




body{
	background: #1e2028;
	font-family: 'Roberto Mono', monospace;
	color: #bbb;
	position: relative;
}
li{
	padding:0 1em;
}

.header{
	text-align:center;
	padding:6em;
	width:page-width;
}


.navbar {
	top:0;
	left:0;
	z-index:1;
	list-style-type:none;
	width:100%;
	overflow:hidden;
	position:fixed;
	background:#1e2028;
	display:inline flex;
	border: 1px solid #bbb;
	border-style: solid none;
}

.navbar > li{
	margin:0;
	padding:0;
	flex-grow:1;
	width:100%;
	display:block;
	position:relative;
}

.navbar > li a{
	margin: 0;
	display:block;
	text-align:center;
	color: #bbb;
	padding:0.5rem;
	text-decoration:none;
}

.navbar > li a:hover{
	background-color:#555;
}






:target{
	animation-name: flash;
	animation-duration: 0.5s;
}

@keyframes flash{
	from{ background: #bbb4;}
	to{ background: #bbb0;}
}

.about > p,
.contact > p,
.work > p {
	margin: 0 20px;
}

.project{
	padding:0 0 4em;
	width: 100%;
	position: relative;
	display: flex;
	margin: 0;
}
.project > div{
	padding:0 20px;
	overflow:visible;
}

.project > img{
	height: 20em;
}


.padding{
	padding:5em;
}
