body{
	background: #1e2028;
	font-family: 'Roberto Mono', monospace;
	color: #bbb;
	position: relative;
}
li{
	padding:0 1cm;
}

.header{
	text-align:center;
	padding:2cm;
}

.about,
.contact,
.work{
	padding:1cm 10cm;
}

.about > p,
.contact > p,
.work > p {
	padding: 0 20px;
}


.projects{
	padding:3cm 10cm;
}

.project{
	padding:0 0 2cm;
	width: 100%;
	position: relative;
	display: flex;
	margin: 0;
}
.project > div{
	padding:0 20px;
}

.project > img{
	height: 10cm;
}

.navbar{
	position:fixed;
}
