body{
    border: 20px red;
    border-style: dotted dashed;
    padding: 30px;
    margin: 50px;


    font-family:comic sans ms;
    font-size:350%;


    color:#fff;
    text-shadow:1px 1px #f00;


    background: url("quote-background.png"), #0f0;
    background-size:15% 15%;
    background-attachment:fixed;
}
p{
    border: 3px #00f;
    border-style: dotted;
    padding: 30px;
    margin:50px;
    background: #ff0;
    color:#0ff;
}
marquee{
    text-align:center;
    position:50%;
}
a{
    color:red;
    font-family:courier new;
    font-size:50%;
}
h5{
    color:#0f0;
    text-shadow:3px 2px #fffa;
    background-color: #00f;
    border: 10px dotted yellow;
    margin:50px;
    padding: 30px;
}
